<a href="https://colab.research.google.com/github/akukudala/Akshitha_690/blob/main/Assignment_Class3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x=[5,10,"Akshitha","Kukudala"]
print(x)

[5, 10, 'Akshitha', 'Kukudala']

In [18]:
for a in x:
  print(a)

5
10
Akshitha
Kukudala

In [20]:
if 5 in x:
  print("Part of list")
else:
  print("not part of list")

Part of list

In [21]:
y=[3,5,7,8,9,66,7,8,3,5]
print(y)

[3, 5, 7, 8, 9, 66, 7, 8, 3, 5]

In [22]:
for a in y:
  print(a)

3
5
7
8
9
66
7
8
3
5

In [25]:
for a in y:
  print(a, end=" ")

3 5 7 8 9 66 7 8 3 5

In [ ]:
import random
random.randint(0,9)

In [30]:
for i in range(0,9):
  random.randint(0,9)
  print(random.randint(0,9), end=" ")

9 4 1 6 4 2 7 3 4

In [34]:
for i in range(0,9):
  print(end="\n ")
  for j in range(0,9):
    random.randint(0,9)
    print(random.randint(0,9), end=" ")

 7 6 3 1 4 7 2 0 7
 2 8 6 5 6 3 3 5 4
 7 5 3 9 2 1 4 2 5
 6 7 4 4 9 4 2 4 3
 6 0 6 3 9 6 9 0 8
 0 2 9 8 4 6 0 8 1
 8 1 2 0 6 1 4 4 9
 6 1 1 6 3 4 7 0 8
 3 0 7 5 9 3 5 7 4

In [44]:

for i in range(0,9):
  # print(end="\n ")
  c= 0
  for j in range(0,9):
    
    c= c+random.randint(0,9)
    print(random.randint(0,9), end=" ")
  print(end=" * ")
  print(c)

2 7 0 0 6 2 5 0 2  * 36
0 5 0 5 6 0 0 9 4  * 26
0 1 9 4 3 5 2 5 9  * 50
4 2 5 2 8 7 4 7 0  * 32
9 0 0 5 4 2 1 8 7  * 40
9 9 7 1 5 4 4 9 4  * 50
1 2 4 3 7 2 1 4 4  * 52
2 8 8 8 2 8 5 3 2  * 58
8 6 0 7 3 0 6 8 3  * 34

In [53]:
co=0
for i in range(0,9):
  # print(end="\n ")
  c= 0
  
  for j in range(0,9):
    
    c= c+random.randint(0,9)
    print(random.randint(0,9), end=" ")
  co= co+random.randint(0,9)
  print(random.randint(0,9), end=" ")
  print(end=" * ")
  print(c)
print("* ")
print(co)

3 6 7 4 6 6 8 9 5 0  * 37
6 2 6 0 2 9 9 8 6 8  * 32
8 7 0 7 8 2 0 0 9 4  * 47
1 2 2 6 3 3 7 5 0 0  * 28
3 8 4 9 6 4 5 7 2 3  * 46
7 2 7 1 9 8 6 5 1 7  * 40
8 0 2 9 2 9 8 0 2 1  * 35
2 8 3 9 8 0 6 1 1 3  * 20
5 5 9 4 5 9 9 4 6 4  * 47
*
48