<a href="https://colab.research.google.com/github/akukudala/Akshitha_690/blob/main/Inclass_session4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# In Class Practice

## Akshitha Kukudala
## 2/25/2022

In [1]:
import random
import re
for i in range(0,10):
    print(end="\n ")
    for j in range(0,10):
        num=random.randint(0,9)
        if (num % 2) == 0:
            print(num, end=" ")
        else:
            strnum = str(num)
            strnum=strnum.replace(strnum,"@")
            print(strnum, end=" ")

 2 0 @ @ 6 @ @ @ @ @
 @ 4 @ 6 @ 8 @ @ 6 @
 @ @ @ 6 6 @ @ 8 @ 2
 @ 2 4 @ 4 4 4 @ 6 @
 @ @ 6 @ 4 @ @ @ @ @
 2 @ 2 @ 2 @ @ @ 8 0
 @ @ @ @ @ 0 8 4 @ @
 2 @ 4 @ 4 8 6 @ @ 6
 @ 8 @ 2 @ 2 @ @ 2 8
 @ @ @ @ @ 6 0 2 @ @

In [2]:
x = "Hello, Akshitha!!!"

print(x)

Hello, Akshitha!!!

In [3]:
x=x.replace('!','$')

In [4]:
print(x)

Hello, Akshitha$$$

In [7]:
x = x.replace("Hello", "Akshitha")

print(x)

Akshitha, Akshitha$$$

In [8]:
print(x.lower())

akshitha, akshitha$$$

In [9]:
print(x.upper())

AKSHITHA, AKSHITHA$$$

## String functions/methods/operations
* upper()
* lower()
* replace()
* strip()
* lstrip()
* rstrip()

In [10]:
#  generate 100 number first

numbers=[]     # This list is to hold 100 random numbers
for i in range(100):
    numbers.append(random.randint(0, 9))

print(numbers)
print(len(numbers))

[8, 6, 2, 4, 4, 6, 7, 3, 7, 8, 4, 7, 3, 4, 4, 2, 2, 2, 0, 2, 8, 0, 6, 5, 2, 9, 1, 1, 7, 5, 9, 6, 4, 9, 3, 6, 8, 3, 3, 5, 0, 2, 4, 2, 3, 9, 0, 6, 0, 1, 9, 1, 6, 5, 9, 7, 0, 4, 4, 9, 8, 0, 6, 6, 3, 7, 5, 7, 1, 5, 5, 5, 7, 7, 8, 1, 2, 0, 4, 9, 6, 1, 5, 4, 6, 4, 6, 9, 1, 0, 9, 8, 8, 0, 0, 9, 6, 9, 4, 7]
100

In [11]:
for i in range(0,100,1):
    print("index = ", i, "member = ", numbers[i])

index =  0 member =  8
index =  1 member =  6
index =  2 member =  2
index =  3 member =  4
index =  4 member =  4
index =  5 member =  6
index =  6 member =  7
index =  7 member =  3
index =  8 member =  7
index =  9 member =  8
index =  10 member =  4
index =  11 member =  7
index =  12 member =  3
index =  13 member =  4
index =  14 member =  4
index =  15 member =  2
index =  16 member =  2
index =  17 member =  2
index =  18 member =  0
index =  19 member =  2
index =  20 member =  8
index =  21 member =  0
index =  22 member =  6
index =  23 member =  5
index =  24 member =  2
index =  25 member =  9
index =  26 member =  1
index =  27 member =  1
index =  28 member =  7
index =  29 member =  5
index =  30 member =  9
index =  31 member =  6
index =  32 member =  4
index =  33 member =  9
index =  34 member =  3
index =  35 member =  6
index =  36 member =  8
index =  37 member =  3
index =  38 member =  3
index =  39 member =  5
index =  40 member =  0
index =  41 member =  2
index =  42 member =  4
index =  43 member =  2
index =  44 member =  3
index =  45 member =  9
index =  46 member =  0
index =  47 member =  6
index =  48 member =  0
index =  49 member =  1
index =  50 member =  9
index =  51 member =  1
index =  52 member =  6
index =  53 member =  5
index =  54 member =  9
index =  55 member =  7
index =  56 member =  0
index =  57 member =  4
index =  58 member =  4
index =  59 member =  9
index =  60 member =  8
index =  61 member =  0
index =  62 member =  6
index =  63 member =  6
index =  64 member =  3
index =  65 member =  7
index =  66 member =  5
index =  67 member =  7
index =  68 member =  1
index =  69 member =  5
index =  70 member =  5
index =  71 member =  5
index =  72 member =  7
index =  73 member =  7
index =  74 member =  8
index =  75 member =  1
index =  76 member =  2
index =  77 member =  0
index =  78 member =  4
index =  79 member =  9
index =  80 member =  6
index =  81 member =  1
index =  82 member =  5
index =  83 member =  4
index =  84 member =  6
index =  85 member =  4
index =  86 member =  6
index =  87 member =  9
index =  88 member =  1
index =  89 member =  0
index =  90 member =  9
index =  91 member =  8
index =  92 member =  8
index =  93 member =  0
index =  94 member =  0
index =  95 member =  9
index =  96 member =  6
index =  97 member =  9
index =  98 member =  4
index =  99 member =  7

In [12]:
count=0
for i in range(10):
    for j in range(10):
        print(numbers[count]," ", end =" ")
        count+=1
    print("\n")

8   6   2   4   4   6   7   3   7   8

4   7   3   4   4   2   2   2   0   2

8   0   6   5   2   9   1   1   7   5

9   6   4   9   3   6   8   3   3   5

0   2   4   2   3   9   0   6   0   1

9   1   6   5   9   7   0   4   4   9

8   0   6   6   3   7   5   7   1   5

5   5   7   7   8   1   2   0   4   9

6   1   5   4   6   4   6   9   1   0

9   8   8   0   0   9   6   9   4   7

In [13]:
# when to initialize a variable

sum=0
for n in range (10): #repeats each row 10 times
    for i in range(10): #repeats each integer 10 times
       y=random.randint(0,9)
       sum=sum+ y
       print(y,end=" ") #prints one integer with space at the end
    print( "*",sum,end=" \n")  #starts a new row after each 10 char
    sum=0                     #resets sum to 0 before the next loop

8 7 7 8 5 6 6 2 7 2 * 58
9 6 7 2 2 9 9 5 3 0 * 52
0 0 6 7 0 2 6 6 5 0 * 32
6 3 8 1 1 7 0 0 8 6 * 40
2 6 6 9 4 4 3 3 3 5 * 45
9 2 6 0 7 6 6 6 1 1 * 44
4 1 8 0 2 8 7 8 3 3 * 44
9 4 6 6 9 5 6 8 7 9 * 69
2 5 5 8 5 3 9 6 7 3 * 53
5 4 6 9 6 8 6 6 1 1 * 52

In [14]:
# when to initialize a variable


for n in range (10): #repeats each row 10 times
    sum=0
    for i in range(10): #repeats each integer 10 times
       y=random.randint(0,9)
       sum=sum+ y
       print(y,end=" ") #prints one integer with space at the end
    print( "*",sum,end=" \n")  #starts a new row after each 10 char

3 4 4 1 4 9 1 4 0 4 * 34
8 1 4 3 6 5 4 9 0 8 * 48
3 6 2 2 2 8 9 7 9 8 * 56
1 5 8 6 5 4 3 8 2 3 * 45
4 0 8 5 5 3 6 4 5 9 * 49
1 7 4 3 7 0 2 9 5 0 * 38
6 9 8 9 8 2 3 0 5 6 * 56
4 5 5 1 0 0 5 9 0 5 * 34
7 4 5 1 2 1 2 6 6 8 * 42
6 7 8 8 9 1 9 5 0 8 * 61

In [15]:
x = [0,0,0,0,0,0]

print(x)

[0, 0, 0, 0, 0, 0]

In [16]:
x = [0] * 6

In [17]:
x = [0] * 100

print(x)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]