<a href="https://colab.research.google.com/github/akukudala/Akshitha_690/blob/main/Assignment03/assignment_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Assignment 03
## Displaying Patterns 
* **Name** : Akshitha Kukudala

1. Displaying the random numbers in 10*10 Matrix format

In [27]:
import random
for i in range(0,10):
    print(end="\n ")
    for j in range(0,10):
        random.randint(0,9)
        print(random.randint(0,9), end=" ")

 2 1 9 8 2 9 7 3 8 2
 2 7 8 2 7 4 9 6 9 9
 6 6 9 6 3 0 9 2 2 8
 2 0 8 7 7 1 5 0 9 3
 5 0 0 1 0 3 2 5 2 6
 0 9 8 5 6 2 3 8 1 8
 6 2 5 6 2 5 1 1 5 6
 6 2 1 5 7 5 6 0 7 9
 4 9 4 9 7 1 2 6 4 7
 0 7 3 2 5 9 5 2 8 9

2. Replacing the odd numbers with a special character

In [26]:
import random
import re
for i in range(0,10):
    print(end="\n ")
    for j in range(0,10):
        num=random.randint(0,9)
        if (num % 2) == 0:
            print(num, end=" ")
        else:
            strnum = str(num)
            strnum=strnum.replace(strnum,"@")
            print(strnum, end=" ")

 0 4 0 2 8 @ 0 @ @ 4
 8 4 @ 4 @ @ 6 @ 8 0
 2 4 @ @ @ @ @ 4 @ @
 0 6 8 @ @ @ 6 @ 8 8
 6 4 8 8 0 2 0 4 @ @
 @ @ @ @ 4 @ @ 0 6 8
 6 @ @ 8 2 @ 8 2 6 @
 @ 6 @ @ 6 2 @ @ 0 @
 @ @ @ 6 4 2 0 @ @ 4
 @ 2 6 8 2 @ @ 8 @ 8

3. Calculating the total row wise.

In [28]:
for i in range(0,10):
    c= 0
    for j in range(0,10):
        c= c+random.randint(0,9)
        print(random.randint(0,9), end=" ")
    print(end=" * ")
    print(c)

4 0 2 0 3 5 3 5 2 5  * 55
8 9 9 9 1 5 3 9 2 6  * 50
2 5 2 7 2 0 3 4 6 5  * 46
8 8 3 0 2 8 8 9 9 8  * 57
5 1 0 5 8 0 0 5 0 7  * 56
1 4 6 2 4 7 6 5 0 6  * 43
6 8 9 3 0 0 1 8 9 6  * 39
3 3 5 6 1 2 5 3 4 7  * 54
6 9 2 0 0 6 7 1 5 0  * 40
7 2 8 4 5 0 4 6 1 7  * 46

4. Creating a pattern with "*"

In [36]:
for a in range(0,23):
    print("*", end="")  
print("\n", end="")
for i in range(0,10):
    c= 0
    print(end="* ")
    for j in range(0,10):
        print(random.randint(0,9), end=" ")
    print(end="* ")
    print(end="\n")
for a in range(0,23):
    print("*", end="")  
print("\n", end="")

***********************
* 7 6 7 4 5 3 9 3 6 1 *
* 5 4 3 5 4 5 2 2 7 5 *
* 9 1 5 5 8 8 7 4 1 0 *
* 0 3 2 3 4 4 7 2 2 8 *
* 8 0 3 8 5 2 2 7 6 0 *
* 8 5 4 1 3 7 0 0 1 8 *
* 1 9 4 2 8 7 4 3 9 3 *
* 0 0 3 2 6 2 8 3 3 9 *
* 3 1 5 5 2 6 6 6 0 9 *
* 4 1 6 2 2 2 4 6 5 7 *
***********************

5. Displaying the matrix of numbers along with the sum of rows and cols

In [38]:
import random  
cols = [0]*10  
for i in range(0,10): 
    c= 0 
    for j in range(0,10):  
        num=(random.randint(0,9))
        c= c+(num)  
        cols[j] = cols[j] + num  
        print(num, end="  ") 
    print("*", c)  
for a in range(0,10):
    print("*", end="  ")  
print("\n", end="")  
for k in range(0,10):
    print(cols[k], end=" ")

3  2  1  3  2  6  1  6  9  8  * 41
9  2  6  5  7  7  1  8  2  8  * 55
2  3  6  2  3  2  3  3  1  0  * 25
1  3  4  7  3  6  2  1  5  4  * 36
7  3  0  5  7  4  3  8  7  9  * 53
6  2  7  5  5  1  4  0  5  8  * 43
4  4  5  5  6  7  5  7  8  8  * 59
3  2  6  5  6  4  3  5  1  5  * 40
6  2  9  9  0  4  6  6  8  2  * 52
7  7  2  6  2  8  9  4  4  0  * 49
*  *  *  *  *  *  *  *  *  *
48 30 46 52 41 49 37 48 50 52